@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'UTM';
    src: url(../Font/UTMBryantLG.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'UTM';
    src: url(../Font/UTMBryantLG_B.ttf);
    font-weight: bold;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hapoheader {
    color: #ffffff;
    float: left;
    display: flex;
    align-items: center;
}

.hapoheader img {
    width: "340.16px";
    height: "70px";
    padding: 30px;
}

.menu li {
    display: inline-block;
    list-style-type: none;
}

.menu li a {
    font: "Open Sans" normal bold 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #505353;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px;
}

.menu li :hover {
    color: blue;
    text-decoration: underline;
}

.menu .allCourse {
    background-color: #B2D235;
    border-radius: 17px;
    color: #ffffff;
}

.hapobanner {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hapobannerimg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.bannertext {
    margin: 0px;
    font: "UTM BryantLG" normal 35px;
    color: #11114E;
    line-height: 61px;
    letter-spacing: -0.05em;
    margin-left: 40px;
    justify-content: center;
    margin-top: 160px;
}

.mediumcontent {
    margin-bottom: 5px;
}

.smallcontent {
    margin-top: 5px;
}

.smallcontent {
    font-size: 15px;
    line-height: 25px;
    color: #505353;
}

.startlearning {
    font-family: "UTM BryantLG";
    font-weight: bold;
    background-color: #B2D235;
    padding: 13px 67px 20px 67px;
    border-radius: 35px;
    color: #ffffff;
}