@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'UTM';
  src: url(../Font/UTMBryantLG.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UTM';
  src: url(../Font/UTMBryantLG_B.ttf);
  font-weight: bold;
}

body {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.hapo-header {
  color: #ffffff;
  float: left;
  display: flex;
  align-items: center;
}

.hapo-header img {
  width: "340.16px";
  height: "70px";
  padding: 30px;
}

.menu li {
  display: inline-block;
  list-style-type: none;
}

.menu li a {
  font: "Open Sans" normal bold 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #505353;
  text-decoration: none;
  margin-left: 10px;
  padding: 8px;
}

.menu li :hover {
  color: blue;
  text-decoration: underline;
}

.menu .all-course {
  background-color: #B2D235;
  border-radius: 17px;
  color: #ffffff;
}

.banner {
  display: flex;
  flex-wrap: wrap;
}

.hapo-banner {
  width: 100%;
  height: 655px;
}

.hapo-banner-img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.banner-text {
  font: "UTM BryantLG" normal;
  color: #11114E;
  line-height: 61px;
  letter-spacing: -0.05em;
  margin-left: 40px;
  justify-content: center;
  margin-top: 160px;
}

.big-content {
  font-size: 35px;
}

.medium-content {
  font-size: 40px;
  margin-bottom: 5px;
}

.small-content {
  margin-top: 5px;
}

.small-content {
  font-size: 15px;
  line-height: 25px;
  color: #505353;
}

.start-learning {
  font-family: "UTM BryantLG";
  font-weight: bold;
  background-color: #B2D235;
  padding: 13px 67px 20px 67px;
  border-radius: 35px;
  color: #ffffff;
}

.hapo-footer {
  color: #ffffff;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 308px;
  font: "UTM BryantLG" normal;
}

.hapo-footer .footer-content {
  width: 100%;
  height: 280px;
  background-color: #505353;
  text-align: start;
  padding-left: 10%;
  padding-top: 4%;
  display: flex;
}

.hapo-footer .footer-left {
  width: 30%;
}

.hapo-footer .footer-right {
  width: 70%;
  display: flex;
}

.hapo-footer .footer-right .footer-list {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hapo-footer .footer-right .footer-list .left-list {
  width: 50%;
}

.hapo-footer .footer-right .footer-list .left-list ul li {
  list-style-type: none;
  margin-bottom: 30px;
}

.hapo-footer .footer-right .footer-list .left-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font: "UTM BryantLG" normal bold 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
}

.hapo-footer .footer-right .footer-list .right-list ul li {
  list-style-type: none;
  margin-bottom: 30px;
}

.hapo-footer .footer-right .footer-list .right-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font: "UTM BryantLG" normal bold 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
}

.hapo-footer .footer-content p {
  padding-left: 18%;
}

.hapo-footer .footer-right .contact {
  width: 50%;
  padding-top: 10%;
  padding-left: 20%;
}

.hapo-footer .footer-right .contact a img {
  margin: auto;
  padding-right: 30px;
}

.hapo-footer .copyright {
  margin-top: -16px;
  height: 7%;
  background-color: #454545;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.05em;
}

.main-course {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: space-around;
}

.main-course .html-course {
  width: 30%;
  height: 100%;
  margin-left: 100px;
  margin-right: 30px;
}

.main-course .html-course .html-img {
  height: 50%;
  background-color: #3F6185;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.main-course .html-course .html-content {
  text-align: center;
}

.main-course .laravel-course {
  width: 30%;
  height: 100%;
  margin-right: 30px;
}

.main-course .laravel-course .laravel-img {
  height: 50%;
  background-color: #DC594C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.main-course .laravel-course .laravel-content {
  text-align: center;
}

.main-course .php-course {
  width: 30%;
  height: 100%;
  margin-right: 100px;
}

.main-course .php-course .php-img {
  height: 50%;
  background-color: #556598;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.main-course .php-course .php-content {
  text-align: center;
}

.lear-button {
  font: "UTM BryantLG" normal bold 20px;
  font-size: 18px;
  letter-spacing: -0.05em;
  line-height: 22px;
  color: #ffffff;
  border: 0.3px solid #FFFFFF;
  background-color: #B2D235;
  border-radius: 35px;
  padding: 9px 37px 11px 37px;
}

.green-text {
  font: "UTM BryantLG" normal bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #B2D235;
}

.normal-text {
  font: "UTM BryantLG" normal bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #505353;
}

.other-course-text {
  font: "UTM BryantLG" normal bold;
  text-align: center;
  padding-top: 110px;
  font-size: 60px;
  color: #11114E;
}

.other-course-text button {
  background-color: #B2D235;
  border-radius: 3px;
  height: 8px;
  width: 480px;
}

.other-course {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.other-course .css-course {
  width: 30%;
  height: 100%;
  margin-left: 100px;
  margin-right: 30px;
}

.other-course .css-course .css-img {
  height: 50%;
  background-color: #3F6185;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.other-course .css-course .css-content {
  text-align: center;
}

.other-course .ruby-course {
  width: 30%;
  height: 100%;
  margin-right: 30px;
}

.other-course .ruby-course .ruby-img {
  height: 50%;
  background-color: #3F6185;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.other-course .java-course {
  width: 30%;
  height: 100%;
  margin-right: 30px;
}